[gcode_macro _INPUT_SHAPER_SAVED]
# Przechowuje zapisane ustawienia
variable_shaper_freq_x: 0.0
variable_shaper_type_x: "ei"
variable_shaper_freq_y: 0.0
variable_shaper_type_y: "ei"
gcode:

[gcode_macro SAVE_INPUT_SHAPER_SETTINGS]
gcode:
    {% set is = printer.input_shaper %}
    SET_GCODE_VARIABLE MACRO=_INPUT_SHAPER_SAVED VARIABLE=shaper_freq_x VALUE={ is.shaper_freq_x | default(0) | float }
    SET_GCODE_VARIABLE MACRO=_INPUT_SHAPER_SAVED VARIABLE=shaper_type_x VALUE="'{ is.shaper_type_x | default('ei') }'"
    SET_GCODE_VARIABLE MACRO=_INPUT_SHAPER_SAVED VARIABLE=shaper_freq_y VALUE={ is.shaper_freq_y | default(0) | float }
    SET_GCODE_VARIABLE MACRO=_INPUT_SHAPER_SAVED VARIABLE=shaper_type_y VALUE="'{ is.shaper_type_y | default('ei') }'"
    {action_respond_info("Zapisano ustawienia input shaper.")}

[gcode_macro DISABLE_INPUT_SHAPER]
gcode:
    SET_INPUT_SHAPER SHAPER_FREQ_X=0 SHAPER_FREQ_Y=0
    {action_respond_info("Input shaper wyłączony (SHAPER_FREQ_X/Y=0).")}

[gcode_macro RESTORE_INPUT_SHAPER]
gcode:
    {% set v = printer["gcode_macro _INPUT_SHAPER_SAVED"] %}
    SET_INPUT_SHAPER SHAPER_FREQ_X={v.shaper_freq_x} SHAPER_TYPE_X={v.shaper_type_x} SHAPER_FREQ_Y={v.shaper_freq_y} SHAPER_TYPE_Y={v.shaper_type_y}
    {action_respond_info("Przywrócono zapisane ustawienia input shaper.")}